/* App.css */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center;    /* Centrar horizontalmente */
  min-height: 100vh;      /* Altura mínima para ocupar toda la pantalla */
  padding: 20px;          /* Espaciado interno */
  box-sizing: border-box; /* Incluir el padding en el cálculo de ancho/alto */
}